@import url('https://fonts.googleapis.com/css?family=Lato:300,700');


body {
    position: relative;
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

img {
    max-width: 100%;
}

.tooltip {
    position: absolute;
    padding: 15px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(15,15,15,0.15);
    .title {
        font-size: 14px;
        font-weight: bold;
    }
}

.svg-content {
    display: inline-block;
    fill: none;

    g {
        pointer-events: none;
    }

    path {
        // cursor: pointer;
        pointer-events: all;
    }
}

.zone {

    &.active {
        stroke: #fff;
        stroke-width: 2px;
        transform: translateY(-1px);
    }
}

.key {
    font: 10px sans-serif;
    position: absolute;
    top: 0;
    left: 0;
}

.caption {
    font-weight: bold;
}

.key path {
    display: none;
}

.key line {
    stroke: #000;
    shape-rendering: crispEdges;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    padding: 20px;

    .plant {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .details {
            padding: 10px;
        }
        span {
            display: block;
            margin-bottom: 5px;
        }
        .title {
            // margin-bottom: 10px;
        }
    }
}